<html>
    <head>
        <title>Summoner QA</title>
        {# Load the tag library #}

        <script type="text/javascript" src="static/jquery-2.2.4.min.js"></script>

        {% load bootstrap3 %}

        {# Load CSS and JavaScript #}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>
        <div class="content container">
            <div class="row">
                <div class="col-md-12 end">
                    <nav class="navbar navbar-default">
                      <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                          <a class="navbar-brand" href="#">Summoner QA</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                          <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">Threads</a></li>
                          </ul>
                        </div>
                      </div>
                    </nav>

                    {# Display django.contrib.messages as Bootstrap alerts #}
                    {% bootstrap_messages %}

                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
